fastapi
uvicorn

tensorflow
keras

numpy
pandas
scikit-learn
joblib

redis
python-dotenv

prometheus-fastapi-instrumentator

requests
beautifulsoup4
python-whois
dnspython

python-jose
passlib
bcrypt

streamlit

matplotlib
seaborn

python-multipart

xgboost